body {
  margin: 0;
  padding: 0;
  padding-top:85px;
  font-family: "Raleway", sans-serif;
  background-image: url("../img/gaming-background-1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*=====  Sign/Signup form  ======*/

.sform {

  text-align: center;
  margin: auto;
  padding: 10px;
  width: 50%;
  margin-top: 100px;
}

.sform h2{
  color:white;
}
.PageSwitcher {

  margin: auto;
  display: inline-block;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;

}

.PageSwitcher__Item {
  background-color:  rgb(44, 89, 161);
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  outline: none;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color:rgb(60, 121, 235);
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 1.5em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #21295C;
  font-size: 1.5em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: rgb(200, 179, 202);
}

.FormField__Button {
  background-color: rgb(60, 121, 235);
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 1.3em;
  font-weight: 500;
  cursor: pointer;
}

.FormField__Link {
  color: rgb(211, 177, 214);
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #21295C;
  padding-bottom: 5px;
  margin-top: 10px;
  font-size: 1.5em;
}

/*===================MainBOdy.js================*/
#pocetna {
  padding-top: 20px;
  text-align: center;
}

/*Stvori dogadaj*/
.form-group {
  color: dodgerblue;
}
.col-md-4{
  margin: 0 auto; 
}

#kreirDogH1 {
  text-align: center;
  font-family: "Bookman Old Style";
  color: white;
}
label {
  font-family: "Bookman Old Style";
  color: darkgray;
}
#btnPozovi {
  padding-top: 10px;
}

.card {
  height:250px;
}

#opisTjedanOdrzavanja {
  font-size: 12px;
}

/*lista dogadjaja*/

/*lista dogadjaja*/

#status {
  color: #b0adb5;
}
/*glasaj za dogadjaj*/
#opis {
  color: white;
  padding: 10px;
  text-align: center;
}

#crveni {
  color: #edbbbe;
  padding: 10px;
  text-align: center;

}

.glasaj {
  color: #21295C;
  align-items: center;
  align-content: center;
  text-align: center;
}

#event-alert {
  display:inline-block;
}


/*=======LISTA IGARA I KORISNIKA==========*/

.ListItem {
  color: white;
  font-family: sans-serif;
  outline-style: double;
  margin: 15px;
  margin-bottom: 25px;
  width: 800px;
  padding: 10px;
  word-break: break-all;
}

.ListItem hr {
  border: 1px solid white;
}

.ListItem.kor {
  display: inline-block;
}

.List{

  width: 850px;
}

.List h1 {
  color: white;
  margin-left: 15px;
  font-weight: bold;
}

.ListItemName{

  font-size: 20pt;
  font-weight: bold;
}

.ListItemOpis{

  font-size: 18pt;
}

.ListItemLink {
  font-size: 15pt; 
}

.ListItemLink a {
  color: white;
}


.ListBtn{
  position: relative;
  text-align: right;
  padding-right:32px;
  
}

.UserListBtn{

  position: relative;
  text-align: right;
  display: inline-block;
  padding-right: 10px;
}


.progress{
  width:450px;
}

.kForm{
  display: inline-block;
  color: white;
  padding: 10px;
  margin-left: 10px;
}

.titleStart{

  text-align: center;

  margin-bottom: 5px;
  
}

.titleStart h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 46pt;
  text-shadow: 5px 3px #b700ff;
}

.titleStart hr {
  border: 1px solid white;
  width: 500px;
  margin-bottom: 20px;
}

.gallery {
  width: 800px;
  display: inline-block;
}

.profile{
  width: 500px;
  margin:auto;
  color: white;
}

.profile.username{
  display: inline-block;
  text-align: center;
  font-size: 50pt;
}

.profile.username hr{
  display: block;
  border: 1px solid white;
  width: 500px;
}

.profile.label{
  display: block;
  color: white;
  font-size: 18pt;
}

.progressNav {
  display: inline-block;
}

.select{
  width: 300px;
  margin-left: 20px;
}

